html{
    height: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    display:flex;
    flex-direction: column;
    background-color: #1B66FF;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-bottom: .1rem solid #003399;
    background-color: #003399;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.voltar{
    position: absolute;
    top: 20px;
    left: 15px;
    height: 5%;
}

.ir{
    height: 30px;

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #6699FF;
    width: 80%;
    padding: 2.5rem 0;
    margin: 0rem auto;
    border-radius: 1rem;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: black
}

.box_cadastro{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.3rem;
    border: 1rem;
    background-color: #6699FF;
    width: 80%;
    margin: 1rem auto;
    border-radius: 1rem;
    font-weight: bolder;
}

.box_cadastro_dentro {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.box_cadastro_dentro > input, select{
    height: 30px;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
}

.box_cadastro > input, select{
    height: 30px;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
}

.botao_finalizar{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6699FF;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    font-size: large;
    font-weight: bolder;
}

.lock_screen{
    max-width:100%;
    height:auto;
}

.notification{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    background-color: #dfe0e2;
    width: 80%;
    margin: 0rem auto;
    border-radius: 1rem;
}

.titulo_notification{
    position: relative;
}

.check_mark_circle{
    width: 3rem;
    height: 3rem;
}

.check_cadastro{
    background-color: ivory;
    width: 10rem;
    height: 10rem;
    border-radius: 10%;

}

.uhul{
    font-size: 400%;
    font-weight: bolder;
}

.plus_sign{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem; 
    align-self: center;
}

.box_sim_ou_nao{
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    border: 1rem;
    background-color: #6699FF;
    width: 70%;
    margin: 0.5rem auto;
    border-radius: 1rem;
    font-weight: bolder;
}

.sim_ou_nao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sugestão{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}



.espaco{
    color:#6699FF;
}

