html{
    height: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    display:flex;
    flex-direction: column;
    background-color: #1B66FF;
}

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-bottom: .1rem solid #003399;
    background-color: #003399;
    font-size: larger;
    font-weight: bolder;
    color: white;
    text-align: center;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1B66FF;
}

.logo_login{
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    font-weight: bolder;
}

.botao_login{
    height: 7%;
    width: 50%;
    margin-top: 7%;
    border: 0px solid black;
    font-size: large;
    border-radius: 10px;
}

.botao_cadastrar{
    height: 7%;
    width: 50%;
    margin-top: 7%;
    border: 0px solid black;
    font-size: large;
    border-radius: 10px;
}

.img_logo{
    height:100%;
    align-self: center;
}

.dados{
    width: 60%;
    margin: 1%;
    font-size: larger;
}

.input_login{
    width: 100%;
    height: 30px;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.infos_basicas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1B66FF;
}

.box_1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2%;
    font-weight: bolder;
    font-size: large;
}

.box_1 > * {
    margin-top: 3px;
}

.box_1 > input, select{
    height: 30px;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
}

.box_1:first-child{
    margin-top: 4%;
}

.proximo{
    height: 7%;
    width: 50%;
    margin-top: 4%;
    margin-bottom: 20px;
    border: 0px solid black;
    font-size: x-large;
    border-radius: 10px;
}

.header_info{
    background-color: #003399;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.voltar{
    position: absolute;
    top: 20px;
    left: 15px;
    height: 5%;
}

.titulo_header{
    align-self: center;
    justify-self: center;
    width: min-content;
    white-space: nowrap;
    text-align: center;
}

.box_complementares{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 15%;
    border: 0px solid black;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
    background-color: #6699FF;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.ir{
    height: 30px;
}

.check1{
    display: none;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
}

.check2{
    display: none;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
}

.check3{
    display: none;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
}

.finalizar{
    position: relative;
    height: 7%;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0px solid black;
    font-size: x-large;
    border-radius: 10px;
}

.bloco{
    width: 80%;
    min-height: 80px;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #6699FF;
    border-radius: 5px;
}

.interesses{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mais{
    border: 1px solid black;
    border-radius: 100%;
    font-size: large;
    margin-top: 20px;
}

.adicionar_interesse{
    display: flex;
    flex-direction: row;

}

.adicionar_interesse > input{
    flex-grow: 1;
    margin-right: 5px;
    margin-top: 20px;
}

.itens{
    margin: 10px;
}

.itens > li{
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 15px;
    font-size: larger;
}

.bloco1{
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #6699FF;
    border-radius: 5px;
}

.finalizar_infos{
    position: relative;
    height: 7%;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 20px;
    border: 0px solid black;
    font-size: x-large;
    border-radius: 10px;
    opacity: 0.8;
}

.big_box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 90%;
    background-color: #6699FF;
    border: 0px;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.convidados{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    font-size: x-large;
    margin-top: 10px;
}

.perfil{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10px;

}

.input_check{
    position: absolute;
    transform: scale(2);
    right: 30px;
}

.sugestao_check{
    margin-top: 10px;
    font-size: x-large;
    font-weight: bolder;
    padding: 10px;
}

.pesquisa{
    margin: 10px 0;
    width: 80%;
    height: 30px;
}

.voltar{
    position: absolute;
    top: 20px;
    left: 15px;
    height: 5%;
}

.ir{
    height: 30px;

}

a{
    text-decoration: none;
    color: black;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #6699FF;
    width: 80%;
    padding: 2.5rem 0;
    margin: 10px; 
    border-radius: 1rem;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: black
}

.box_cadastro{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.5rem ;
    border: 1rem;
    background-color: #6699FF;
    width: 70%;
    border-radius: 1rem;
    font-weight: bolder;
    margin-top: 10px;
}

.box_sugestao{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6699FF;
    height: 60%;
    width: 85%;
    padding: 2.5rem 0;
    margin: 10px; 
    border-radius: 1rem;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 1.15;
}

.box_cadastro > input{
    height: 30px;
    margin-top: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
}

.botao_finalizar{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6699FF;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    color: black
}

.lock_screen{
    max-width:100%;
    height:auto;
}

.notification{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem;
    width: 90%;
    background-color: #dfe0e2;
    border-radius: 1rem;
}

.titulo_notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
    
}

.logo_app_notification{
    width: 10%;
    margin: 5px;
}

.check_mark_circle{
    width: 3rem;
    height: 3rem;
}

.check_cadastro{
    background-color: ivory;
    width: 10rem;
    height: 10rem;
    padding: 10px;
    border-radius: 10%;

}

.uhul{
    font-size: xxx-large;
    font-weight: bolder;
}

.plus_sign{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem; 
    align-self: center;
}

.sugestão{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}

.box_sim_ou_nao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    height: 50%;
    padding: 1rem;
    background-color: #6699FF;
    border-radius: 10px;
    border: 0px;
    font-size: x-large;
    font-weight: bolder;
}

.sim_ou_nao{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

.botao_sim, .botao_nao{
    border-radius: 10px;
    padding: 1rem 1rem;
    font-weight: bolder;
    font-size: large;
    border: 0;
}


.box_sim_ou_nao > *{
    margin: 10px;
}

.tela_iphone{
    background-image: url('../img/lock_screen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.texto_not{
    margin-left: 6px;
}

.voltar{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 5%;
}

.ir{
    height: 30px;
}

.novo_evento{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1B66FF;
}

.box_evento{
    width: 80%;
    min-height: 80px;
    padding: 0 1rem 1rem 1rem;
    margin-top: 1rem;
    font-weight: bolder;
    background-color: #6699FF;
    border-radius: 5px;
    font-size: large;
}

.box_evento > *{
    margin-top: 15px;
}

.info_evento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info_evento > input{
    flex-grow: 1;
    height: 30px;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
}

.info_evento > button{
    border: 1px solid black;
    border-radius: 100%;
    width: 35px;
    font-size: large;
    font-weight: bolder;
}

.botao_confirmar{
    height: 7%;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 20px;
    border: 0px solid black;
    font-size: x-large;
    border-radius: 10px;
}

.box_evento_info{
    width: 80%;
    min-height: 80px;
    padding: 0 1rem 1rem 1rem;
    margin-top: 1rem;
    font-weight: bolder;
    background-color: #6699FF;
    border-radius: 5px;
    font-size: x-large;
}

.box_evento_info > *{
    margin-top: 15px;
}

.botao_avancar{
    border-radius: 10px;
    width: 20px;
    margin-left: 4px;
    padding: 5px;
    background-color: white;
    border: 0.5px solid black;
}

.box_evento_concluido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 50%;
    padding: 1rem;
    margin: 1rem;
    font-weight: bolder;
    background-color: #6699FF;
    border-radius: 5px;
    font-size: xxx-large;
    text-align: center;
}

.box_evento_concluido > .check{
    width: 50%;
    background-color: white;
    padding: 5px;
    border: 0px;
    border-radius: 20px;
}

.p_bolder{
    font-weight: bolder;
    font-size: larger;
}